 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/photo-1659090340416-30dfd00978c7.jpeg');
}

.u-section-1 .u-sheet-1 {
  min-height: 845px;
}

.u-section-1 .u-group-1 {
  width: 419px;
  min-height: 489px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 215px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 84px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    background-size: auto 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 575px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 88px 0 60px;
}

.u-section-2 .u-image-1 {
  min-height: 428px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/3843.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 200px 30px 30px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 428px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 181px;
  height: 181px;
  background-image: url("images/photo2.jpg");
  background-position: 50% 50%;
  filter: brightness(0.95);
  box-shadow: -1px 0px 23px 6px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 56px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 353px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 120px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-2 .u-image-1 {
    min-height: 270px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 153px;
    height: 153px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-2 .u-image-1 {
    min-height: 304px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-2 .u-image-1 {
    min-height: 191px;
  }

  .u-section-2 .u-text-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
  }
} .u-section-3 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1061px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 55px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 58px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 776px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 29px 0 25px 30px;
}

.u-section-3 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 1px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-1 {
  min-height: 130px;
  height: auto;
  margin-top: -45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 20px;
  padding-left: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 40px 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 29px 0 25px 30px;
}

.u-section-3 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 1px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-2 {
  min-height: 130px;
  height: auto;
  background-size: auto;
  margin-top: -45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding-right: 20px;
  padding-left: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 40px 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-5 {
  padding: 29px 0 25px 30px;
}

.u-section-3 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 1px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-3 {
  min-height: 130px;
  height: auto;
  background-size: auto;
  margin-top: -45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding-right: 20px;
  padding-left: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-7 {
  margin: 40px 0 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-7 {
  padding: 29px 0 25px 30px;
}

.u-section-3 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 1px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-4 {
  min-height: 130px;
  height: auto;
  background-size: auto;
  margin-top: -45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-8 {
  padding-right: 20px;
  padding-left: 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-9 {
  margin: 40px 0 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-9 {
  padding: 29px 0 25px 30px;
}

.u-section-3 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 1px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-5 {
  min-height: 130px;
  height: auto;
  background-size: auto;
  margin-top: -45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-10 {
  padding-right: 20px;
  padding-left: 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-11 {
  margin: 40px 0 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-11 {
  padding: 29px 0 25px 30px;
}

.u-section-3 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 1px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-6 {
  min-height: 130px;
  height: auto;
  background-size: auto;
  margin-top: -45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-12 {
  padding-right: 20px;
  padding-left: 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-13 {
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 527px;
  }

  .u-section-3 .u-group-1 {
    min-height: 188px;
    margin-bottom: -4px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    min-height: 188px;
    margin-bottom: -4px;
    height: auto;
  }

  .u-section-3 .u-group-3 {
    min-height: 188px;
    margin-bottom: -4px;
    height: auto;
  }

  .u-section-3 .u-group-4 {
    min-height: 188px;
    margin-bottom: -4px;
    height: auto;
  }

  .u-section-3 .u-group-5 {
    min-height: 188px;
    margin-bottom: -4px;
    height: auto;
  }

  .u-section-3 .u-group-6 {
    min-height: 188px;
    margin-bottom: -4px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-top: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 917px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-1 {
    min-height: 134px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-2 {
    min-height: 134px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-3 {
    min-height: 134px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-4 {
    min-height: 134px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-5 {
    min-height: 134px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-10 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-6 {
    min-height: 134px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-12 {
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-top: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-group-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-5 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-6 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 331px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 803px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 71px auto 0;
}

.u-section-4 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px 169px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 628px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 100px 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 468px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 408px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 468px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px 0 0;
}

.u-section-5 .u-text-3 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 336px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-5 .u-image-1 {
    height: 813px;
    object-position: 50% 0%;
    background-position: 50% 0%;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 610px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 384px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 513px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  width: 284px;
  margin: 77px auto 0;
}

.u-section-6 .u-list-1 {
  margin: 77px 0 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(7, calc(14.2857% - 8.57143px));
  min-height: 143px;
  grid-auto-columns: calc(14.2857% - 8.57143px);
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-image-1 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-image-4 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-image-5 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-image-6 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px;
}

.u-section-6 .u-image-7 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 371px;
    margin-right: 371px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(14.285714285714286% - 8.57143px);
    grid-template-columns: repeat(7, calc(14.285714285714286% - 8.57143px));
    min-height: 117px;
  }

  .u-section-6 .u-image-1 {
    height: 67px;
    width: 58px;
    margin-right: 29px;
    margin-left: 3px;
  }

  .u-section-6 .u-image-2 {
    height: 67px;
    width: 58px;
    margin-right: 29px;
    margin-left: 3px;
  }

  .u-section-6 .u-image-3 {
    height: 67px;
    width: 58px;
    margin-right: 29px;
    margin-left: 3px;
  }

  .u-section-6 .u-image-4 {
    height: 67px;
    width: 58px;
    margin-right: 29px;
    margin-left: 3px;
  }

  .u-section-6 .u-image-5 {
    height: 67px;
    width: 58px;
    margin-right: 29px;
    margin-left: 3px;
  }

  .u-section-6 .u-image-6 {
    height: 67px;
    width: 58px;
    margin-right: 29px;
    margin-left: 3px;
  }

  .u-section-6 .u-image-7 {
    height: 67px;
    width: 58px;
    margin-right: 29px;
    margin-left: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 284px;
    margin-right: 284px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5000012499999995px);
    grid-template-columns: repeat(4, calc(25% - 7.5000012499999995px));
    min-height: 331px;
  }

  .u-section-6 .u-image-1 {
    height: 131px;
    width: 113px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-2 {
    height: 131px;
    width: 113px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-3 {
    height: 131px;
    width: 113px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-4 {
    height: 131px;
    width: 113px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-5 {
    height: 131px;
    width: 113px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-6 {
    height: 131px;
    width: 113px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-7 {
    height: 131px;
    width: 113px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 213px;
    margin-right: 213px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.000000833333333px);
    grid-template-columns: repeat(2, calc(50% - 5.000000833333333px));
    min-height: 1016px;
  }

  .u-section-6 .u-image-1 {
    height: 109px;
    width: 94px;
    margin-top: 36px;
    margin-right: 68px;
    margin-left: 49px;
  }

  .u-section-6 .u-image-2 {
    height: 109px;
    width: 94px;
    margin-top: 36px;
    margin-right: 68px;
    margin-left: 49px;
  }

  .u-section-6 .u-image-3 {
    height: 109px;
    width: 94px;
    margin-top: 36px;
    margin-right: 68px;
    margin-left: 49px;
  }

  .u-section-6 .u-image-4 {
    height: 109px;
    width: 94px;
    margin-top: 36px;
    margin-right: 68px;
    margin-left: 49px;
  }

  .u-section-6 .u-image-5 {
    height: 109px;
    width: 94px;
    margin-top: 36px;
    margin-right: 68px;
    margin-left: 49px;
  }

  .u-section-6 .u-image-6 {
    height: 109px;
    width: 94px;
    margin-top: 36px;
    margin-right: 68px;
    margin-left: 49px;
  }

  .u-section-6 .u-image-7 {
    height: 109px;
    width: 94px;
    margin-top: 36px;
    margin-right: 68px;
    margin-left: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 134px;
    margin-right: 134px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-5 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-6 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-7 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }
}.u-block-85c0-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-85c0-3 {
  position: absolute;
  left: 0;
}

.u-block-85c0-4 {
  position: absolute;
  right: 0;
}

 .u-section-7-1 {
  background-image: url("images/photo-1513364776144-60967b0f800f.jpeg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 542px;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 476px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 150px;
  }
}

 .u-section-7-2 {
  background-image: url("images/photo-1503694978374-8a2fa686963a.jpeg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 542px;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 476px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 150px;
  }
}

 .u-section-7-3 {
  background-image: url("images/photo-1581079288675-16bf8157bc10.jpeg");
  background-position: 50% 50%;
}

.u-section-7-3 .u-sheet-1 {
  min-height: 542px;
}

@media (max-width: 1199px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 476px;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 150px;
  }
}

 .u-section-7-4 {
  background-image: url("images/photo-1562155695-fb6e1f95fcfd.jpeg");
  background-position: 50% 50%;
}

.u-section-7-4 .u-sheet-1 {
  min-height: 542px;
}

@media (max-width: 1199px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 476px;
  }
}

@media (max-width: 767px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 150px;
  }
}

 .u-section-7-5 {
  background-image: url("images/photo-1614036634955-ae5e90f9b9eb.jpeg");
  background-position: 50% 60%;
}

.u-section-7-5 .u-sheet-1 {
  min-height: 542px;
}

@media (max-width: 1199px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 476px;
  }
}

@media (max-width: 767px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 150px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 644px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 610px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  width: 864px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 17px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    font-style: normal;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 915px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  width: 345px;
  margin: 100px auto 0;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 31px 0 29px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 229px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 229px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 22px 0 0;
}

.u-section-9 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 229px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 136px;
}

.u-section-9 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px 0 0;
}

.u-section-9 .u-text-7 {
  margin: 21px 0 0;
}

.u-section-9 .u-text-8 {
  margin: 0;
}

.u-section-9 .u-layout-cell-4 {
  min-height: 493px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-4 {
  padding: 28px 30px;
}

.u-section-9 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-9 .u-text-10 {
  font-weight: 300;
  margin: 21px 0 0;
}

.u-section-9 .u-form-1 {
  height: 311px;
  width: 510px;
  margin: 31px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  --radius: 50px;
}

.u-section-9 .u-layout-cell-5 {
  min-height: 493px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-5 {
  padding: 28px 30px;
}

.u-section-9 .u-text-11 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-9 .u-text-12 {
  font-weight: 300;
  margin: 21px 0 0;
}

.u-section-9 .u-map-1 {
  width: 510px;
  height: 296px;
  margin: 46px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-9 .u-icon-3 {
    margin-left: 108px;
    margin-right: 108px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 407px;
  }

  .u-section-9 .u-form-1 {
    width: 410px;
  }

  .u-section-9 .u-btn-1 {
    border-style: solid;
  }

  .u-section-9 .u-layout-cell-5 {
    min-height: 407px;
  }

  .u-section-9 .u-map-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-icon-3 {
    margin-left: 77px;
    margin-right: 77px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-9 .u-form-1 {
    width: 300px;
  }

  .u-section-9 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-9 .u-map-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}